<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Books_order</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to books_orders_path, class: button_class(theme: "transparent") do %>
      All Books_orders
      <% end %>
      <%= link_to edit_books_order_path(@books_order), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Book:</p>
        <p><%= @books_order.book %></p>
      </li>
      <li>
        <p class="font-semibold">Order:</p>
        <p><%= @books_order.order %></p>
      </li>
  </ul>
</div>
